<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reda.touk.myapp" >


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/maps_icon"
        android:name="com.reda.touk.myapp.app.AppController"

        android:label="myApp"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtu2zPsGG46CnXuB93mJU93mSvlymzPUc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="com.reda.touk.myapp.activity.GPSTracker"/>
        <activity
            android:name="com.reda.touk.myapp.activity.MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name="com.reda.touk.myapp.activity.LoginActivity"
            android:label="myApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.reda.touk.myapp.activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.reda.touk.myapp.activity.StreamActivity"
            >
        </activity>
        <activity
            android:name="com.reda.touk.myapp.map.MapsActivityCurrentPlace"
            >
        </activity>
        <activity
            android:name="com.reda.touk.myapp.activity.EventActivty"
            >
        </activity>

    </application>

</manifest>
